/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    // background-color: red;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* If you want the content rightened horizontally */
  .rightened {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  
  // .description {
  //   font-family: HelveticaNeue;
  //   font-size: 24px;
  //   font-weight: normal;
  //   font-style: normal;
  //   font-stretch: normal;
  //   line-height: 1.21;
  //   letter-spacing: normal;
  //   text-align: right;
  //   color: #e2e2e2;
  // }
  
  .experimental {
    justify-content: flex-end;
      align-items: start;
      margin-top: 30px;
  }
  
  .flexcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  
  
  .box-left {
    padding-top: 5%;
    // padding-left: 2%;
  }
  
  .box-right {
    padding-top: 5%;
    // padding-right: 2%;
  }
  
  .bounds {
    // padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .description{
    margin-top: 18%;
    margin-bottom: 10%;
  
    font-family: HelveticaNeue;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: right;
    color: #e2e2e2;
  }
  
  .contact-info-header {
    font-family: HelveticaNeue;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: right;
    color: #a7a7a7; 
  }
  
  .contact-info-name {
    font-family: HelveticaNeue;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: right;
    font-size: 24px;
    color: #ffffff;
  }
  
  .contact-info-email {
    margin-bottom: 0px;
  
    font-family: HelveticaNeue;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: right;
    color: #009abf;
  }
  
  .contact-info-phone-number {
    margin-top: 0px;
  
    font-family: HelveticaNeue;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: right;
    color: #a7a7a7; 
  }
  
  .footer-divider {
    margin-top: 30px;
    margin-top: 5px;
    height: 2px;
    background-color: #505050;
  }
  
  .mat-divider {
    border-top-style: none;
  }
  
  .footer-year {
    padding-top: 4px;
  
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: right;
    color: #7e7e7e;
  }
  
  .example-card {
    // max-width: 400px;
  
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  }
  
  .example-header-image {
      background-size: cover;
  }
  
  .mat-card-header {
    padding-left: 3%;
  }
  
  .cta-text {
    white-space: pre-wrap;
    font-size: 17px;
    font-weight: 300;
  }
  
  .mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
    background-color: #205084d1;
  }

  .mat-card-header{
    margin-right: 20px;
    background-color: #649c5a;

    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }