/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    // background-color: red;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* If you want the content rightened horizontally */
  .rightened {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .flexcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  
  .box-left {
    padding-top: 1%;
  }

  .logo-image {
    width: 100%;
    height: 100%;
  }

  .logo-text {
    text-align: center;

    font-family: "Courier New", Courier, monospace;
    color: white;
    font-size: 14px;
  }
  
  .box-right {
    padding-top: 1%;
  }
  
  .bounds {
    padding-left: 5%;
    padding-right: 5%;
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .contact-info-header {
    font-family: HelveticaNeue;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: right;
    color: #a7a7a7; 
  }
  
  .contact-info-name {
    font-family: HelveticaNeue;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: right;
    font-size: 24px;
    color: #ffffff;
  }
  
  .contact-info-email {
    margin-bottom: 0px;
  
    font-family: HelveticaNeue;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: right;
    color: #009abf;
  }
  
  .contact-info-phone-number {
    margin-top: 0px;
  
    font-family: HelveticaNeue;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: right;
    color: #a7a7a7; 
  }
  
  .example-card-footer-text {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    color: white;
    font-size: 14px;
  }

  .footer-year {
    padding-top: 4px;
    position: fixed;
    left: 0;
    bottom: 2%;
    width: 100%;
  
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: center;
    color: white;
  }
  
  .example-card {
    background-color: #00a291;
  
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 12px;
    border-radius: 4px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  }
  
  .example-header-image { 
      background-size: cover;

      height: 65px;
      width: 65px;
      border-radius: 22%;
  }
  
  .mat-card-header {
    padding-left: 1%;
  }

  ::ng-deep .mat-card-header-text {
    margin: 0 6px !important;
  }

  .cta-button {
    border-radius: 12px;
    max-width: 80%;

    background-color: #f3f3f3;
    color: #006865;
    white-space: pre-wrap;
    font-size: 20px;
    font-weight: 900;
    justify-content: center !important;
  }
  
  .cta-text {
    color: #006865;
    white-space: pre-wrap;
    font-size: 17px;
    font-weight: 300;
    place-content: stretch center;
  }
  
  .mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
    background-color: #205084d1;
  }

  .mat-card-header{
    background-color: transparent;

    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }