<div class="bounds">
    
  <div class="content" 
       fxLayout="row" 
       fxLayout.lt-md="column" 
       fxFlexFill >
       
      <div fxFlex="40" class="box-left" fxFlex.lt-md="50" fxLayoutAlign="center center">
          <div>
            <img src="assets/lastik-logo.jpg">
          </div> 
      </div>
      <div fxFlex="60" class="box-right" fxLayoutGap="1%" fxLayoutAlign="center" fxFlex.lt-md="50" fxLayout="column">
                 
        <mat-card class="example-card" fxLayout="row" fxLayoutAlign="start">
              <mat-card-header fxLayoutAlign="center center">
                <div mat-card-avatar style="background-image: URL('https://mikhaabel.github.io/siivous-palvelupyynto/assets/swann.png')" class="example-header-image"></div>
                <mat-card-title>Elizabeth Swann</mat-card-title>
                <mat-card-subtitle>Siivoja</mat-card-subtitle>
              </mat-card-header>
              <button (click)="openTab('https://www.lt.fi/fi/yritysasiakkaat/palvelut/siivouspalvelut')" mat-raised-button color="primary" fxFlex="70" fxLayoutAlign="start">
                <div class="cta-text">TILAA SIIVOUS</div>
              </button>
            </mat-card>

            <mat-card class="example-card" fxLayout="row" fxLayoutAlign="start">
                <mat-card-header fxLayoutAlign="center center">
                  <div mat-card-avatar style="background-image: URL('https://mikhaabel.github.io/siivous-palvelupyynto/assets/sparrow.jpeg')" class="example-header-image"></div>
                  <mat-card-title>Jack Sparrow</mat-card-title>
                  <mat-card-subtitle>The Korjaaja</mat-card-subtitle>
                </mat-card-header>
                <button (click)="openTab('https://huoltopyynto.lassila-tikanoja.fi/')" mat-raised-button color="primary" fxFlex="70" fxLayoutAlign="start">
                  <div class="cta-text">TEE HUOLTO-PYYNTÖ</div>
                </button>
              </mat-card>

            <mat-card class="example-card" fxLayout="row" fxLayoutAlign="start">
                <mat-card-header fxLayoutAlign="center center">
                  <div mat-card-avatar style="background-image: URL('https://mikhaabel.github.io/siivous-palvelupyynto/assets/will.jpg')" class="example-header-image"></div>
                  <mat-card-title>Will <br/> Turner</mat-card-title>
                  <mat-card-subtitle>Asiakaspalvelija</mat-card-subtitle>
                </mat-card-header>
                <button (click)="openTab('https://www.lt.fi/fi/yritysasiakkaat/yhteystiedot/palaute')" mat-raised-button color="primary" fxFlex="70" fxLayoutAlign="start">
                  <div class="cta-text">ANNA PALAUTE</div>
                </button>
              </mat-card>

              <mat-card class="example-card" fxLayout="row" fxLayoutAlign="start">
                  <mat-card-header fxLayoutAlign="center center">
                    <div mat-card-avatar style="background-image: URL('https://mikhaabel.github.io/siivous-palvelupyynto/assets/carina.jpg')" class="example-header-image"></div>
                    <mat-card-title>Carina Smyth</mat-card-title>
                    <mat-card-subtitle>Asiakaspalvelija</mat-card-subtitle>
                  </mat-card-header>
                  <button (click)="openTab('https://www.lt.fi/fi/yritysasiakkaat/yhteystiedot/paikalliset-yhteystiedot')" mat-raised-button color="primary" fxFlex="70" fxLayoutAlign="start">
                    <div class="cta-text">SOITA MEILLE</div>
                  </button>
                </mat-card>
      </div>
  </div>
  <mat-divider class="footer-divider" fxLayout="row"></mat-divider>
  <div class="footer-year">
      © 2019
  </div>
</div>

<router-outlet></router-outlet>
